# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Output files
*.png

# Data files
*.csv
*.DS_Store

# Personal files
parameters.py

# Python runtime
*.pyc
*.egg-info
.pytest_cache
__pycache__/

# Virtual environments
venv/
.venv/
