bokeh==3.1.1
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
exceptiongroup==1.1.1
fonttools==4.42.1
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
kiwisolver==1.4.5
MarkupSafe==2.1.2
matplotlib==3.7.2
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pluggy==1.0.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqtgraph==0.13.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pytest==7.3.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
six==1.16.0
tomli==2.0.1
tornado==6.3.2
tzdata==2023.3
urllib3==2.0.2
xyzservices==2023.5.0
